@font-face {
    font-family: 'Kita';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kita/Kita.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kita/Kita.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kita/Kita.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kita/Kita.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kita/Kita.ttf') format("truetype");
    font-display: swap;
}